:root {
    --pink: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}

a {
    color: #000;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    height: 100%;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: #707070;
    padding: 1rem;
    margin: 2rem 2%;
    background-color: #F1E4B8;
    border-radius: 2rem;
}
/* header */
header #toggler {
    display: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F1E4B8;
    padding: 0.7rem 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}

.logo {
    cursor: pointer;
    width: 60px;
    height: auto;
    margin-right: 0.1cm;
}

.web_name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
    margin-right: auto;
    margin-left: 0cm;
}

.search-form{
    width:40rem;
    height:4rem;
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: 5rem;
    position: relative;
    border: none;
}

.search-form input{
    font-size: 2rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:black;
    border: none;
}

.search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:#707070;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.search-form label:hover{
    color: black;
}

nav.navbar li {
    display: inline-block;
    align-items: center;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar a {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 1rem;
    color: #707070;
    padding: 0 12px;
}

.navbar a:hover {
    color: black;
    text-decoration: underline;
}

header .icons {
    font-size: 2.5rem;
    margin-left: 2.5rem;
}

header .icons a {
    color: #707070;
}

header .icons a:hover {
    color: black;
}

header .fa-shopping-cart{
    margin-right: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    font-size: 15px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #707070;
    border-radius: 0.5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    display: none;
}

header .fa-bars:hover{
    color: black;
}

.background {
    width: 100%;
    height: auto;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
  }

/* style table */

table {
    border-collapse: collapse;
    width: 100%;
    color: #000;
}
/* Giới thiệu ở homepage */
.about{
    padding-left: 30px;
    padding-right: 50px;
}

.about .row{
    min-height: 50vh;
    margin: 5px;
    display: flex;
}

.about .image{
    max-width: 500px;
}

.about .intro_bg{
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;  
}

.about .content{
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#707070;
    text-align: justify;
    line-height: 2;
}

.about .more{
    text-align: right;
    color:rgb(32, 58, 172);
    text-decoration: underline;
}

.about .more:hover{
    color: rgb(103, 131, 255);
}
/* banner */
.slider__banner{
    height: 300px;
    width: 100%;
    background-color: #ddd;
    margin-bottom: 100px;
    margin-top: 24px;
}

.banner-item{
    display: inline-block;
    width: 33%;
    text-align: center;
}

.item-icon{
    font-size: 30px;
    margin-top: 16px;
}

.imageChange {
    max-width: 120px;
    height: 100px;
}

.item-name{
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
    /* color: #ffc300; */
    color: #ff8d00;
}

.item-slogan{
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
}

.item-text{
    margin-top: 8px;
    font-size: 1.4rem;
}

/*Đồ ăn */
.product .row{
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-right: 0;
}

.product .column{
    -ms-flex: 33.33%;
  flex: 33.33%;
  max-width: 33.33%;
  padding: 10px 40px;
  overflow: hidden;
}

.product .column img{
    margin-top: 13px; 
    vertical-align: middle;
    width: 100%;
    height: auto;
    transition: transform .5s ease;
}

.product .column img:hover{
    transform: scale(1.1);
}

.product .des{
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}


/* bộ sưu tập */
.collection .row{
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.collection .column{
    -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  overflow: hidden;
}

.collection .column img{
    margin-top: 8px; 
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.collection .des{
    padding: 15px;
    text-align: center;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}

.column1{
    position: relative;
    width: 25%;
}

.column1 .promo{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.column1 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column1:hover .promo {
    opacity: 0.5;
}

.column1:hover .middle {
    opacity: 1;
}

.column1 .text {
    background-color: #F1E4B8;
    color: #707070;
    border-radius: 5rem;
    font-size: 16px;
    padding: 16px 32px;
  }

.column2{
    position: relative;
    width: 50%;
}

.column2 .promo{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.column2 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column2:hover .promo {
    opacity: 0.5;
}

.column2:hover .middle {
    opacity: 1;
}

.column2 .text {
    background-color: #F1E4B8;
    color: #707070;
    border-radius: 5rem;
    font-size: 16px;
    padding: 16px 32px;
  }

.column3{
    position: relative;
    width: 50%;
}

.column3 .promo{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.column3 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);   
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column3:hover .promo {
    opacity: 0.5;
}

.column3:hover .middle {
    opacity: 1;
}

.column3 .text {
    background-color: #F1E4B8;
    color: #707070;
    border-radius: 5rem;
    font-size: 16px;
    padding: 16px 32px;
  }

.column4{
    position: relative;
    width: 50%;
}

.column4 .promo{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.column4 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.column4:hover .promo {
    opacity: 0.5;
}

.column4:hover .middle {
    opacity: 1;
}

.column4 .text {
    background-color: #F1E4B8;
    color: #707070;
    border-radius: 5rem;
    font-size: 16px;
    padding: 16px 32px;
}
/*gallery*/
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
  
.gallery .name{
    width: 100%;
    padding-bottom: 50px;   
}

.gallery .name h3{
    font-size: 8em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 25px solid #F1E4B8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}
  
.gallery .name h3 span{
    font-weight: 100;
}

.gallery .box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 40px 20px 0 20px;
}
  
  .gallery .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
  
.gallery .box .dream img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
/* giới thiệu */
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}

.head1 {
    width: 100%;
    font-size: 8em;
    padding-bottom: 10px;
    border-bottom: 25px solid #F1E4B8;   
}

.section-container {
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: 0;
    ;
    display: flex;
    flex-wrap: wrap;
}

.content-container2 ul {
    margin: 0;
    padding: 0px 20px;
}


/* left side */

.section-container .columns {
    flex: 0 0 auto;
    width: 50%;
    padding-right: 5px;
    padding-left: 70px;
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 0;
}


/* right side */

.section-container .columns:nth-child(2) {
    flex: 0 0 auto;
    width: 50%;
    padding-right: 100px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}


/* left side */

.section-container .columns.image:nth-child(1) {
    background-position: center;
    background-size: 69%;
    background-repeat: no-repeat;
}


/* right side */

.section-container .columns.image:nth-child(2) {
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}


/* right side */

.section-container .columns.content .content-container1 {
    padding-right: 0px;
}


/* left side */

.section-container .columns.content .content-container2 {
    padding-right: 0px;
    padding-left: 50px;
}


/* right side */

.section-container .columns.content .content-container1 h4 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.section-container .columns.content .content-container1 p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: justify;
}

.section-container .columns.content .content-container1 ul {
    font-size: 20px;
    text-decoration: none;
}


/* left side */

.section-container .columns.content .content-container2 h4 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}

.section-container .columns.content .content-container2 p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: justify;
    padding-left: 0;
}

.section-container .columns.content .content-container2 ul {
    font-size: 20px;
    text-decoration: none;
}

/*khách hàng */
.customer{
    padding: 0 0 60px 0;
}

.slider{
    height: 500px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: calc(400px*18);
    animation: scroll 70s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-400px * 9));
    }
}

.slide{
    height: 400px;
    width: 300px;
    align-items: center;
    padding: 10px;
    transform: .5s ease;
}

.slide:hover{
    transform: scale(1.1);
}

img{
    width: 100%;
}

.cus-name{
    text-align: center;
    font-size: 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}

.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, 
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 10%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* footer */

footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
.footer {
    background-color: #F1E4B8;
    text-align: center;
}

.footer .box-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 1.5rem; */
    background-color: #F1E4B8;
    text-align: center;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #707070;
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

.footer .box-container .box .address:hover{
    color: black;
    text-decoration: underline;
}

.footer .box-container .box .fa-facebook-square{
    font-size: 4rem;
}

.footer .box-container .box .fa-facebook-square:hover {
    color: black;  
    font-size: 4.5rem; 
}
/* cửa hàng/ sản phẩm / product page*/
#pro-page
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  margin-top: 80px;
  margin-bottom: 150px;
  position: relative;
}

.container-p
{
  position: relative;
  width: 1200px;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-bottom: 200px;
}
.container-p .card-p
{
  width: 100%;
  background: #fff;
}
.container-p .card-p .img
{
  position: relative;
  height: 0; 
  width: 100%; 
  padding-bottom: 100%;
  overflow: hidden;
}
.container-p .card-p .img img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transform-origin: right;
}
.container-p .card-p .img img:hover 
{
  transform: scale(1.1);
  
}

.container-p .card-p .content
{
  padding: 10px;
}
.container-p .card-p .content .productName h3
{
  font-size: 18px;
  font-weight: 450;
  color: #333;
  margin: 5px 0;
}
.container-p .card-p .content .price
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-p .card-p .content .price h2
{
  font-size: 18px;
  color: red;
  font-weight: 500;
}
.container-p .card-p .content .price .fa
{
  color: #ffd513;
  cursor: pointer;
}
.container-p .card-p .content .price .fa.grey
{
  color: #ccc;
}

/*out of stock product*/
.container-p .card-p1
{
  width: 100%;
  background: #fff;
}
.container-p .card-p1 .img
{
  position: relative;
  height: 0; 
  width: 100%; 
  padding-bottom: 100%;
  overflow: hidden;
}
.container-p .card-p1 .img img 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transform-origin: right;
  opacity: 0.5;
}

.container-p .card-p1 .img .middle {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 180px;
  }
  .container-p .card-p1 .img .middle .text {
    background-color: #F1E4B8;
    color: #707070;
    font-size: 20px;
    padding: 16px 30px 20px 35px;
    border-radius: 30px;

  }

.container-p .card-p1 .content
{
  padding: 10px;
  opacity: 0.5;
}
.container-p .card-p1 .content .productName h3
{
  font-size: 18px;
  font-weight: 450;
  color: #333;
  margin: 5px 0;
}
.container-p .card-p1 .content .price
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-p .card-p1 .content .price h2
{
  font-size: 18px;
  color: red;
  font-weight: 500;
}
.container-p .card-p1 .content .price .fa
{
  color: #ffd513;
  cursor: pointer;
}
.container-p .card-p1 .content .price .fa.grey
{
  color: #ccc;
}

/*view 1 product/ xem 1 sản phẩm */

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper .card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 3%;
    margin-top: 150px;
    margin-bottom: 250px;
}

.card-wrapper img{
    width: 100%;
    margin: 0 auto;
    display: block;
}

.card-wrapper .img-display{
    overflow: hidden;
}

.card-wrapper .img-showcase{
    display: flex;
    max-width: 100%;
    transition: all 0.5s ease;
}

.card-wrapper .img-showcase img{
    width: 100%;
}

.card-wrapper .img-select{
    display: flex;
}

.card-wrapper .img-item{
    margin: 1.5%;
}

.card-wrapper .img-item:nth-child(1){
    margin-left: 0;
}

.card-wrapper .img-item:nth-child(1),
.card-wrapper .img-item:nth-child(2),
.card-wrapper .img-item:nth-child(3),
.card-wrapper .img-item:nth-child(4){
    margin-right: 0;
}

.card-wrapper .img-item:hover{
    opacity: 0.8;
}

.product-imgs{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
}

.product-content{
    padding: 0 2%;
   
}

.product-title{
    font-size: 2.5vw;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 3% 0;
}

.product-price{
    margin-bottom: 9%;
    font-size: 2.25vw;
    font-weight: 100;
}
.product-price span{
    font-weight: 400;
}

.size{
    margin-bottom: 7%;
}

.size p{
    display: inline;
    margin-right: 12.5%;
    font-size: 1.75vw;
    vertical-align: middle;
}

.size form{
	width:15%;
	height:10%;
	background:#ffffff;
    margin: 1% 7% 1% 0;
	border:thin solid #000000;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 1.55vw;
}

.size form:nth-child(5){
    margin-left: 139px;
}

.selected {
    background-color: #DEB887;
}

span {
    cursor:pointer; 
}

.number{
	margin-bottom: 7%;
}

.quantity{
	display: inline;
    margin-right: 5%;
    font-size: 1.75vw;
    vertical-align: middle;
}

.pnumber{
	display: inline-block;
    margin-left: 3%;
    font-size: 1.75vw;
    vertical-align: middle;
}

.minus, .plus{
	width:5%;
	height:5%;
	background:#f2f2f2;
	border-radius:1px;
	border:thin solid #707070;
    display: inline-block;
    text-align: center;
    padding-bottom: 6px;
    vertical-align: middle;
    font-size: 1.75vw;
}

input{
	height:5%;
    width: 5%;
    text-align: center;
    font-size: 1.75vw;
    border:1px solid #ffffff;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}	

.purchase-info .btn{
    border: thin solid #000000;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5vw;
    padding: 2.25% 7.25%;
    outline: 0;
    cursor: pointer;
    color: #000000;
    background: #DEB887;
    margin: 0 24% 3% 24%;
}


.purchase-info .btn:hover{
    opacity: 0.9;
}
.product-description{
    margin-top: 600px;
    margin-right: 200px;
    margin-left: 200px;
    position: absolute;
}
.product-description h4{
    font-size: 35px;
    border-bottom: 4px solid #ffb26b;

}
.product-description p{
    margin-top: 20px;
    font-size: 15px;
}


/* user_bar */
.bar{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
  
.bar .name{
    width: 100%;  
    padding-top: 35px;  
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;  
}

.bar .name h3{
    font-size: 11em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #707070;
}
.bar .topnav {
    overflow: hidden;
    background-color: #F1E4B8;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.bar .topnav a {
    color: #707070;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 22px;
  }
.bar .topnav a:hover {
    background-color: #DEB887;
  }

  .dropbtn {
    background-color: #E7E7E7;
    color: #707070;
    padding: 8px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  
  .dropdwn {
    position: relative;
    display: inline-block;
    padding-top: 15px;
    justify-content: right;
    align-items: right;
    text-align: right;
  }
  
  .dropdwn-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    font-size: 16px;
  }
  
  .dropdwn-content a {
    color: #707070;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdwn-content a:hover {
      background-color: #e2dddd
    }
  
  .dropdwn:hover .dropdwn-content {
    display: block;
  }
  
  .dropdwn .dropbtn:hover {
    background-color: #b8b8b8;
    color: rgba(255, 255, 255, 0.932);
  }
/*my order*/
.my-order_box{
    padding-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: #707070;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #707070;
  }

  th {
    font-weight: normal;
    color: #707070;
    text-align: center;
    padding: 12px;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #707070;
  }
th a{
    display:block;
}
/* media queries  */

/* responsive */
@media(max-width: 1376px){
    .about-us{
        padding-top: 60px;
    }
}
@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .logo {
        width: 60px;
        height: auto;
        padding-left: 5px;
    }
    .container{
        flex-direction: column;
    }
    .about-us{
        padding-top: 30px;
    }
    .section-container .columns.image {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .section-container .columns.content {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .section-container .columns.content .content-container2 {
        padding-left: 0;
    }
}

@media (max-width: 930px){
    .container{
        flex-direction: column;
    }
    .container .row{
        flex-direction: column;
        max-width: 900px;
    }
    .container .row .image{
        max-width: 900px;
        margin: auto;
    }

    .container .row .content{
        margin-top: 0;
        font-size: 2.5rem;
    }
    .product .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product .column{
        -ms-flex: 60%;
        flex: 60%;
        max-width: 60%;
        height: auto;
    }
}

@media (max-width:768px) {
    header .fa-bars {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar li {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }
    .icons-container .icons h3 {
        font-size: 2rem;
    }
    .icons-container .icons span {
        font-size: 1.7rem;
    }
    .container{
        flex-direction: column;
    }
    .container .row{
        flex-direction: column;
        max-width: 700px;
    }
    .container .row .image{
        max-width: 700px;
        margin: auto;
    }

    .container .row .content{
        margin-top: 0;
    }
    .product .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product .column{
        -ms-flex: 80%;
        flex: 80%;
        max-width: 80%;
        height: auto;
    }
    .product .des{
        font-size: 3rem;
    }
    .collection .column{
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        height: auto;
    }
    .collection .des{
        font-size: 3rem;
    }
    .gallery .box{
        flex-direction: column;
    }     
    .gallery .box .dream{
       width: 100%;
     }
     .section-container {
        flex-flow: row wrap;
    }
    .section-container .columns.image {
        display: block;
        order: 1;
        width: 100%;
        height: 250px;
    }
    .section-container .columns.content {
        display: block;
        order: 2;
        width: 100%;
        padding: none;
    }
    .section-container .columns.content .content-container {
        padding: 20px 35px;
    }
    .section-container .columns.content .content-container h5 {
        margin-bottom: 5px;
    }
    .about-us{
        padding-top: 40px;
    }
    .section-container .columns:nth-child(2) {
        padding: 20px 60px 20px 60px;
    }
    .section-container .columns.content {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    .section-container .columns.content .content-container2 {
        padding-left: 0;
        padding-right: 50px;
        padding-bottom: 40px;
    }

}

@media only screen and (max-width: 643px){
    .gallery .name{
      width: 100%;
    }
    .gallery .name h3{
      font-size: 6rem;
    }
    .about-us{
        padding-top: 30px;
    }
    .head1{
        width: 100%;
        font-size: 6rem;
    }
    .section-container .columns:nth-child(2) {
        padding: 0 60px 0 60px;
    }
    .section-container .columns.content {
        padding-top: 0;
        padding-bottom: 10px;
    }
    .section-container .columns.content .content-container2 {
        padding-left: 0;
        padding-right: 50px;
    }

    .customer{
        padding-bottom: 0;
    }
    .slider{
        height: 300px;
        margin: auto;
        position: relative;
        width: 90%;
        display: grid;
        place-items: center;
        overflow: hidden;
        padding-bottom: 10px;
    }
    
    .slide-track{
        display: flex;
        width: calc(240px*18);
        animation: scroll 70s linear infinite;
    }

    @keyframes scroll{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-240px * 9));
        }
    }
    
    .slide{
        height: 240px;
        width: 180px;
        align-items: center;
        padding: 10px;
        transform: .5s ease;
    }
}

@media (max-width:450px) {
    html {
        font-size: 40%;
    }
    .heading {
        font-size: 2.5rem;
    }
    .img .logo {
        padding-left: 5px;
        margin-right: 0px;
    }
    .label.fas.fa-bars {
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .container .row{
        flex-direction: column;
        max-width: 420px;
    }
    .container .row .image{
        max-width: 420px;
        margin: auto;
    }
    .container .row .content{
        margin-top: 0;
    }
    .collection .column{
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        height: auto;
    }
    .gallery .name{
        width: 100%;
      }
      .gallery .name h3{
        font-size: 7rem;
      }
      .head1{
        width: 100%;
        font-size: 7rem;
    }
    .section-container {
        flex-flow: row wrap;
    }
    .section-container .columns.image {
        display: block;
        order: 1;
        width: 100%;
        height: 250px;
    }
    .section-container .columns.content {
        display: block;
        order: 2;
        width: 100%;
    }
    .section-container .columns.content .content-container {
        padding: 20px 35px;
    }
    .section-container .columns.content .content-container h5 {
        margin-bottom: 5px;
    }
}